# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log
